/*Orange:ef6c00*/

html, body, div, ul, li, a, h1, h2, h3, h4, h5, h6, form {
	margin: 0;padding: 0;border:0;font-family: roboto;
}
html, body {
	min-height: 100vh;
	background-color: #EDEDED;
}
.clear {
	clear:both;
}
/*********************************** HEADER *****************************************/
.mHeader {
	width: 100%;
	height: 130px;
	position: relative;
	box-shadow: 0 7px 9px rgba(0,0,0,0.5)
}
.mHeader p {
	float: left;
	margin-left: 230px;
	color:#fff;
	font-size: 50px;
	margin-top: 38px;
}

/************************************************ FOOTER *****************************/
.mFooter {
	width:100%;
	height:100px;
	position: relative;
	bottom: 0;
	padding-bottom: 16px;
	margin-top: 50px;
}
.mFooter p {
	color: #fff;
	line-height: 100px;
	text-align: center;
}

/*************************************** MENU ***************************************/
.mMenu {
	height:100vh;
	background-color: #fff;
	position: fixed;
	z-index: 999;
	width: 0;
	overflow-x: hidden;
	top:0;
	left: 0;
	padding-top: 15px;
	box-shadow: 7px 0 9px rgba(0,0,0,0.5);
}


.hej {
	color:#000;
	text-align: center;
	width: 100%;
	height: 200px;
	position: absolute;
	top:200px;
}



.openMenu {
	position: absolute;
	z-index: 20;
	margin-left: 100px;
	margin-top: 33px;
}

.closeMenu {
	position: absolute;
	z-index: 20;
	margin-left: 320px;
	margin-top: -24px;
}

.openMenu img /*Menu open icon*/ {
	margin:-132px;
	width: 70px;
	height: auto;
	margin-left: -34px;
	position: absolute;
}

.closeMenu img {
	width: 70px;
	height: auto;
	margin-top: -74px;
	margin-left: 350px;
	position: absolute;
}

/**************************MENU TEXT AND ICONS************************************/

#mMenuTitle {
	font-size: 65px;
	text-align: center;
	opacity: 0.6;
}
#mMenuSubTitle {
	opacity: 0.6;
	font-size: 45px;
	margin-left: 70px;
}
#mMenuItems {
	color: #000;
	margin-left: 200px;
	text-decoration: none;
	display: block;
	font-size: 50px;
	font-weight: lighter;
	margin-top: 40px;
}
#mMenuItems img {
	opacity: 0.6;
	width: 65px;
	position: absolute;
	margin-left: -135px;
}



.devider {
	width: 100%;
	height: 3px;
	background-color: rgba(0,0,0,0.5);
}

/**************************************BUTTONS*****************************************/


/**MENU BUTTON**/
input[type=submit] {
	opacity: 0;
	width: 80px;
	height: 80px;
	margin-top: 60px;
}


/***************************************CARDS********************************************************/

.card {
	width: 95%;
	margin:45px auto 0 auto;
	height: auto;
	background-color: #fff;
	position: relative;
	border-radius: 2px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card button {
	display: inline-block;
	padding: 8px;
	border: none;
	background-color: #fff;
	font-size: 35px;
	font-weight: 500;
	margin-left: 20px;
	margin-top: 40px;
	margin-bottom: 10px;
}

.card img {
	width: 100%;
	margin-top: -15px;
}
.card h1 {
	font-size: 55px;
	margin-left: 20px;
	margin-top: 10px;
	font-weight: 400;
}
.card h2 {
	font-size: 36px;
	margin-left: 20px;
	margin-top: 5px;
	font-weight: 300;
	width: 76%;
}