/*Orange:ef6c00*/

html, body, div, ul, li, a, h1, h2, h3, h4, h5, h6, form {
	margin: 0;padding: 0;border:0;font-family: roboto;
}
html, body {
	min-height: 100vh;
}
.clear {
	clear:both;
}
/*********************************** HEADER *****************************************/
.mHeader {
	width: 100%;
	height: 200px;
	position: absolute;
	box-shadow: 0 7px 9px rgba(0,0,0,0.5)
}
.mHeader p {
	float:right;
	margin-right: 45px;
	color:#fff;
	margin-top: 135px;
	font-size: 50px;
}

/************************************************ FOOTER *****************************/
.mFooter {
	width:100%;
	height:100px;
	position: absolute;
	bottom: 0;
	padding-bottom: 16px;
}
.mFooter p {
	color: #fff;
	line-height: 100px;
	text-align: center;
}




/*************************************** MENU ***************************************/
.mMenu {
	height:100vh;
	background-color: #fff;
	position: fixed;
	z-index: 999;
	width: 0;
	overflow-x: hidden;
	top:0;
	left: 0;
	padding-top: 15px;
	box-shadow: 7px 0 9px rgba(0,0,0,0.5);
}


.hej {
	color:#000;
	text-align: center;
	width: 100%;
	height: 200px;
	position: absolute;
	top:200px;
}



.openMenu {
	position: absolute;
	z-index: 20;
	margin-left: 100px;
}

.closeMenu {
	position: absolute;
	z-index: 20;
	margin-left: 320px;
}

.openMenu img /*Menu open icon*/ {
	margin:53px;
	width: 80px;
	height: auto;
	margin-left: -40px;
}

.closeMenu img {
	width: 80px;
	height: auto;
	margin-top: 53px;
	margin-left: 350px;
	display: none
}

/**************************MENU TEXT AND ICONS************************************/

#mMenuTitle {
	font-size: 65px;
	text-align: center;
	opacity: 0.6;
}
#mMenuSubTitle {
	opacity: 0.6;
	font-size: 45px;
	margin-left: 70px;
}
#mMenuItems {
	color: #000;
	margin-left: 200px;
	text-decoration: none;
	display: block;
	font-size: 50px;
	font-weight: lighter;
	margin-top: 40px;
}
#mMenuItems img {
	opacity: 0.6;
	width: 65px;
	position: absolute;
	margin-left: -135px;
}



.devider {
	width: 100%;
	height: 3px;
	background-color: rgba(0,0,0,0.5);
}

/**************************************BUTTONS*****************************************/


/**MENU BUTTON**/
input[type=submit] {
	opacity: 0;
	width: 80px;
	height: 80px;
	margin-top: 60px;
}

